In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
import matplotlib.pyplot as plt

# Load data into panda-frames and inspect

In [3]:
filenames = glob.glob("../data/*")

In [4]:
dataframes = []
for i, filename in enumerate(filenames): 
    print(i, filename.split("/")[-1])
    df = pd.read_csv(filename)
    dataframes.append(df)
    display(df)

0 data\assessments.csv

,code_module,code_presentation,id_assessment,assessment_type,date,weight
0,AAA,2013J,1752,TMA,19.0,10.0
1,AAA,2013J,1753,TMA,54.0,20.0
2,AAA,2013J,1754,TMA,117.0,20.0
3,AAA,2013J,1755,TMA,166.0,20.0
4,AAA,2013J,1756,TMA,215.0,30.0
...,...,...,...,...,...,...
201,GGG,2014J,37443,CMA,229.0,0.0
202,GGG,2014J,37435,TMA,61.0,0.0
203,GGG,2014J,37436,TMA,124.0,0.0
204,GGG,2014J,37437,TMA,173.0,0.0
205,GGG,2014J,37444,Exam,229.0,100.0

1 data\courses.csv

   code_module code_presentation  module_presentation_length
0          AAA             2013J                         268
1          AAA             2014J                         269
2          BBB             2013J                         268
3          BBB             2014J                         262
4          BBB             2013B                         240
5          BBB             2014B                         234
6          CCC             2014J                         269
7          CCC             2014B                         241
8          DDD             2013J                         261
9          DDD             2014J                         262
10         DDD             2013B                         240
11         DDD             2014B                         241
12         EEE             2013J                         268
13         EEE             2014J                         269
14         EEE             2014B                         241
15         FFF             2013J                         268
16         FFF             2014J                         269
17         FFF             2013B                         240
18         FFF             2014B                         241
19         GGG             2013J                         261
20         GGG             2014J                         269
21         GGG             2014B                         241

2 data\studentAssessment.csv

        id_assessment  id_student  date_submitted  is_banked  score
0                1752       11391              18          0   78.0
1                1752       28400              22          0   70.0
2                1752       31604              17          0   72.0
3                1752       32885              26          0   69.0
4                1752       38053              19          0   79.0
...               ...         ...             ...        ...    ...
173907          37443      527538             227          0   60.0
173908          37443      534672             229          0  100.0
173909          37443      546286             215          0   80.0
173910          37443      546724             230          0  100.0
173911          37443      558486             224          0   80.0

[173912 rows x 5 columns]

3 data\studentInfo.csv

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,2640965,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail
32589,GGG,2014J,2645731,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction
32590,GGG,2014J,2648187,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass
32591,GGG,2014J,2679821,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn
32592,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction

4 data\studentRegistration.csv

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN
...,...,...,...,...,...
32588,GGG,2014J,2640965,-4.0,NaN
32589,GGG,2014J,2645731,-23.0,NaN
32590,GGG,2014J,2648187,-129.0,NaN
32591,GGG,2014J,2679821,-49.0,101.0
32592,GGG,2014J,2684003,-28.0,NaN

5 data\studentVle.csv

         code_module code_presentation  id_student  id_site  date  sum_click
0                AAA             2013J       28400   546652   -10          4
1                AAA             2013J       28400   546652   -10          1
2                AAA             2013J       28400   546652   -10          1
3                AAA             2013J       28400   546614   -10         11
4                AAA             2013J       28400   546714   -10          1
...              ...               ...         ...      ...   ...        ...
10655275         GGG             2014J      675811   896943   269          3
10655276         GGG             2014J      675578   896943   269          1
10655277         GGG             2014J      654064   896943   269          3
10655278         GGG             2014J      654064   896939   269          1
10655279         GGG             2014J      654064   896939   269          1

[10655280 rows x 6 columns]

6 data\vle.csv

      id_site code_module code_presentation activity_type  week_from  week_to
0      546943         AAA             2013J      resource        NaN      NaN
1      546712         AAA             2013J     oucontent        NaN      NaN
2      546998         AAA             2013J      resource        NaN      NaN
3      546888         AAA             2013J           url        NaN      NaN
4      547035         AAA             2013J      resource        NaN      NaN
...       ...         ...               ...           ...        ...      ...
6359   897063         GGG             2014J      resource        NaN      NaN
6360   897109         GGG             2014J      resource        NaN      NaN
6361   896965         GGG             2014J     oucontent        NaN      NaN
6362   897060         GGG             2014J      resource        NaN      NaN
6363   897100         GGG             2014J      resource        NaN      NaN

[6364 rows x 6 columns]

In [5]:
studentAssesment_df = dataframes[2]
studentInfo_df = dataframes[3]
courses_df = dataframes[1]
assesments_df = dataframes[0]
studentVle_df = dataframes[5]
vle_df = dataframes[6]
studentRegistration_df = dataframes[4]

In [6]:
studentInfo_df['result_encoded'] = studentInfo_df['final_result'].map({'Pass':1, 'Distinction':1, 'Withdrawn':0, 'Fail':0})

## Merge pandas frame to get data-format

In [7]:
# first join studentVLE with vle to get full view of vle activity
merged_vle_df = pd.merge(studentVle_df, vle_df, on = ['id_site', 'code_module', 'code_presentation'], how='left')

In [8]:
merged_vle_df

,code_module,code_presentation,id_student,id_site,date,sum_click,activity_type,week_from,week_to
0,AAA,2013J,28400,546652,-10,4,forumng,NaN,NaN
1,AAA,2013J,28400,546652,-10,1,forumng,NaN,NaN
2,AAA,2013J,28400,546652,-10,1,forumng,NaN,NaN
3,AAA,2013J,28400,546614,-10,11,homepage,NaN,NaN
4,AAA,2013J,28400,546714,-10,1,oucontent,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10655275,GGG,2014J,675811,896943,269,3,homepage,NaN,NaN
10655276,GGG,2014J,675578,896943,269,1,homepage,NaN,NaN
10655277,GGG,2014J,654064,896943,269,3,homepage,NaN,NaN
10655278,GGG,2014J,654064,896939,269,1,forumng,NaN,NaN
10655279,GGG,2014J,654064,896939,269,1,forumng,NaN,NaN

## One- course data

In [74]:
# set mudule and presentation
code_module = 'GGG'
code_presentation = '2014J'

In [75]:
# extract only vle stats from the given course
course_vle_df = merged_vle_df[(merged_vle_df.code_module==code_module)&(merged_vle_df.code_presentation==code_presentation)]

# set index to id_student for easier extraction based on indivisual students later
course_vle_df = course_vle_df.set_index('id_student')

In [76]:
# extract student information for course module
course_studentInfo_df = studentInfo_df.loc[(studentInfo_df.code_module==code_module)&(studentInfo_df.code_presentation==code_presentation), :]

## Check how the dataset is balanced

In [77]:
from collections import Counter

In [78]:
cnt_final_results = Counter(list(course_studentInfo_df['final_result']))

In [79]:
cnt_final_results

Counter({'Fail': 179, 'Pass': 317, 'Withdrawn': 126, 'Distinction': 127})

## Format data to training and test set

In [80]:
# extrect activity types
activities = list(set(course_vle_df['activity_type']))

# extract day-information
days = sorted(list(set(course_vle_df['date'])))
first_day, last_day = days[0], days[-1]
duration = last_day-first_day
weeks = int(duration/7)+1

In [139]:
def get_click_matrix(student_id, course_vle_df=course_vle_df, weeks=weeks, first_day=first_day, activities=activities): 
    oneStudentVle = course_vle_df.loc[student_id, :]
    click_matrix = np.zeros((weeks, len(activities)))

    # insert clicks
    for i, vle_row in oneStudentVle.iterrows(): 
        # extract matrix indecies
        week_index = int((vle_row['date']-first_day)/7)
        resource_index = activities.index(vle_row['activity_type'])
        # add clicks to right cell
        click_matrix[week_index, resource_index] += vle_row['sum_click']
        
    # only include the first half of the activity statistics
    half_index = int(weeks/2)
    half_click_matrix = click_matrix[half_index:, :]
        
    return half_click_matrix

def get_pass_fail(student_id, course_studentInfo_df=course_studentInfo_df): 
    one_hot_result = np.zeros(3)
    result_encoded = int(course_studentInfo_df.loc[course_studentInfo_df['id_student']==student_id, 'result_encoded'])
    #one_hot_result[result_encoded] = 1
    
    return result_encoded

In [111]:
# format x and y data for model training 
student_ids = list(set(course_vle_df.index))
x, y = [], []
for student_id in student_ids: 
    try: 
        click_matrix = get_click_matrix(student_id)
        result_encoded = get_pass_fail(student_id)
        x.append(np.transpose(click_matrix))
        y.append(result_encoded)
    except Exception as e: 
        print(student_id)
        print(e)
X = np.array(x)
y = np.array(y)

595041
'Series' object has no attribute 'iterrows'
656637
'Series' object has no attribute 'iterrows'
698019
'Series' object has no attribute 'iterrows'
646891
'Series' object has no attribute 'iterrows'

## Split data into training and test set

In [112]:
from torch import nn
import torch
import torch.optim as optim
import torch.nn.functional as F

In [113]:
# check if gpu is available
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

In [114]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [115]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 3)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state = 3)

In [116]:
# make datasets into torch tensors
X_train, y_train = torch.from_numpy(X_train).float(), torch.tensor(y_train).float()
X_test, y_test = torch.from_numpy(X_test).float(), torch.tensor(y_test).float()
X_val, y_val = torch.from_numpy(X_val).float(), torch.tensor(y_val).float()

## Make and train pytorch model

In [117]:
class RNN(nn.Module): 
    def __init__(self, input_size, hidden_size, output_size, n_layers=1): 
        super(RNN, self).__init__()
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.output_size = output_size
        self.n_layers = n_layers
        
        #self.encoder = nn.Embedding(input_size, hidden_size)
        self.lstm = nn.LSTM(input_size, hidden_size, n_layers, bidirectional = True)
        self.fc1 = nn.Linear(hidden_size*2, 32)
        self.fc2 = nn.Linear(32, output_size)
        
    def forward(self, inp): 
        #e = self.encoder(inp)
        output, hidden = self.lstm(inp)
        
        x = self.fc1(output[:, -1, :])
        x = F.relu(x)
        x = self.fc2(x)
        x = torch.sigmoid(x)
        #x = torch.nn.Softmax(dim=1)(x)
        
        return x

In [118]:
# define model instance
rnn_net = RNN(X_train[0].shape[1], 16, 1, n_layers = 2) #y_train[0].shape[0]
rnn_net_best_val = RNN(X_train[0].shape[1], 16, 1, n_layers = 2)

# set loss function, optimizer and criterion
#criterion = nn.CrossEntropyLoss()
#criterion = nn.BCEWithLogitsLoss()
criterion = nn.BCELoss()
optimizer = optim.Adam(rnn_net.parameters(), lr=0.01)
loss_fn = nn.MSELoss()

In [119]:
# set training to gpu if exists
rnn_net.to(device)
rnn_net_best_val.to(device)
X_train = X_train.to(device)
y_train = y_train.to(device)
X_test = X_test.to(device)
y_test = y_test.to(device)
X_val = X_val.to(device)
y_val = y_val.to(device)

# training parameters
n_steps = 50
best_val_loss = 100

In [120]:
# train model
for i in range(n_steps):
    # training loss
    y_pred_train = rnn_net(X_train)
    loss_train = criterion(y_pred_train, y_train.unsqueeze(1))
    # validation loss
    y_pred_val = rnn_net(X_val)
    loss_val = criterion(y_pred_val, y_val.unsqueeze(1))
    if (best_val_loss > loss_val.cpu().detach().numpy()): 
        rnn_net_best_val.load_state_dict(rnn_net.state_dict())
        best_val_loss = loss_val.cpu().detach().numpy()
        print("Updated best val model")
    
    # run optimzaiton algorithm
    optimizer.zero_grad()
    loss_train.backward()
    optimizer.step()
    # print loss
    print(loss_train.cpu().detach().numpy())

Updated best val model
0.7055429
Updated best val model
0.67965585
Updated best val model
0.6597694
Updated best val model
0.6483629
Updated best val model
0.64400333
Updated best val model
0.62759906
Updated best val model
0.60539746
Updated best val model
0.58369035
Updated best val model
0.5578813
Updated best val model
0.52247196
Updated best val model
0.47971383
Updated best val model
0.43600947
Updated best val model
0.3987001
Updated best val model
0.37312236
Updated best val model
0.35406107
0.33683547
0.32091135
0.30352214
0.28126842
0.25385857
0.22246103
Updated best val model
0.1883073
Updated best val model
0.153841
Updated best val model
0.12256138
Updated best val model
0.09591084
0.07485612
0.05854366
0.044927143
0.03433719
0.026035707
0.01973876
0.012668839
0.0070678936
0.004169687
0.0032411332
0.0018247404
0.0011402098
0.00088993326
0.00067691755
0.0005009553
0.00040300735
0.00035807653
0.00033377975
0.0003004448
0.0002477253
0.00019483244
0.0001553777
0.00012801318
0.00010748775
9.069045e-05

In [121]:
def binary_acc(y_pred, y_test):
    y_pred = y_pred.cpu()
    y_test = y_test.cpu()
    y_pred_tag = torch.round(y_pred.squeeze(1))

    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    acc = torch.round(acc * 100)
    
    return acc

In [122]:
y_eval = rnn_net_best_val(X_test)
binary_acc(y_eval, y_test)

tensor(88.)

In [123]:
y_pred_binary = torch.round(y_eval.cpu().squeeze(1))

In [124]:
print(classification_report(y_test.cpu().detach().numpy(), y_pred_binary.detach().numpy()))

              precision    recall  f1-score   support

         0.0       0.71      0.89      0.79        36
         1.0       0.96      0.87      0.91       103

    accuracy                           0.88       139
   macro avg       0.83      0.88      0.85       139
weighted avg       0.89      0.88      0.88       139

In [125]:
y_eval.shape

torch.Size([139, 1])

## Include demographics

In [126]:
# get demographics info from dataframe
demographics_df = course_studentInfo_df[['id_student', 'gender', 'region', 'highest_education', 'imd_band', 'age_band']]

In [127]:
one_hot_demo_df = pd.get_dummies(demographics_df, columns=['gender', 'region', 'highest_education', 'imd_band', 'age_band'])

In [128]:
def get_demographics(student_id, one_hot_demo_df=one_hot_demo_df): 
    one_hot_demographics = one_hot_demo_df[one_hot_demo_df['id_student']==student_id].drop(columns=['id_student']).values[0]
    
    return one_hot_demographics

In [129]:
# format x, demographics and y data for model training 
student_ids = list(set(course_vle_df.index))
x, demographics, y = [], [], []
for student_id in student_ids: 
    try: 
        click_matrix = get_click_matrix(student_id)
        result_encoded = get_pass_fail(student_id)
        one_hot_demographics = get_demographics(student_id)
        x.append(np.transpose(click_matrix))
        demographics.append(one_hot_demographics)
        y.append(result_encoded)
    except Exception as e: 
        print(student_id)
        print(e)
X = np.array(x)
demographics = np.array(demographics)
y = np.array(y)

595041
'Series' object has no attribute 'iterrows'
656637
'Series' object has no attribute 'iterrows'
698019
'Series' object has no attribute 'iterrows'
646891
'Series' object has no attribute 'iterrows'

In [130]:
X_train, X_test, demo_train, demo_test, y_train, y_test = train_test_split(X, demographics, y, test_size=0.2, random_state = 3)
X_train, X_val, demo_train, demo_val, y_train, y_val = train_test_split(X_train, demo_train, y_train, test_size=0.1, random_state = 3)

In [131]:
# make datasets into torch tensors
X_train, demo_train, y_train = torch.from_numpy(X_train).float(), torch.tensor(demo_train).float(), torch.tensor(y_train).float()
X_test, demo_test, y_test = torch.from_numpy(X_test).float(), torch.tensor(demo_test).float(), torch.tensor(y_test).float()
X_val, demo_val, y_val = torch.from_numpy(X_val).float(), torch.tensor(demo_val).float(), torch.tensor(y_val).float()

## Make and train pytorch model with demographics

In [132]:
class RNN_2(nn.Module): 
    def __init__(self, input_size, input_size2, hidden_size, output_size, n_layers=1): 
        super(RNN_2, self).__init__()
        self.input_size = input_size
        self.input_size2 = input_size2
        self.hidden_size = hidden_size
        self.output_size = output_size
        self.n_layers = n_layers
        
        # feed forward dense neural networks
        self.fc_demo = nn.Linear(input_size2, 16)
        
        # recurrent neural networks for vle clicks
        self.lstm = nn.LSTM(input_size, hidden_size, n_layers, bidirectional = True)
        self.fc_vle = nn.Linear(hidden_size*2, 32)
        
        # last output layer
        self.fc_out = nn.Linear(32+16, output_size)
        
    def forward(self, inp_vle, inp_demo): 
        
        # forward pass vle part
        output_vle, hidden = self.lstm(inp_vle)
        x_vle = self.fc_vle(output_vle[:, -1, :])
        x_vle = F.relu(x_vle)
        
        # forward pass demographics
        x_demo = self.fc_demo(inp_demo)
        x_demo = F.relu(x_demo)
        
        # concatenate data from both input layers
        x = torch.cat((x_vle, x_demo), dim=1)
        
        # last output layer
        x = self.fc_out(x)
        x = torch.sigmoid(x)
        
        return x

In [133]:
# define model instance
rnn_net = RNN_2(X_train[0].shape[1], demo_train[0].shape[0], 16, 1, n_layers = 2)
rnn_net_best_val = RNN_2(X_train[0].shape[1], demo_train[0].shape[0], 16, 1, n_layers = 2)

# set loss function, optimizer and criterion
criterion = nn.BCELoss()
optimizer = optim.Adam(rnn_net.parameters(), lr=0.01)
loss_fn = nn.MSELoss()

In [134]:
# set training to gpu if exists
rnn_net.to(device)
rnn_net_best_val.to(device)
X_train = X_train.to(device)
y_train = y_train.to(device)
demo_train = demo_train.to(device)
X_test = X_test.to(device)
y_test = y_test.to(device)
demo_test = demo_test.to(device)
X_val = X_val.to(device)
y_val = y_val.to(device)
demo_val = demo_val.to(device)

# training parameters
n_steps = 50
best_val_loss = 100

In [135]:
# train model
for i in range(n_steps):
    # training loss
    y_pred_train = rnn_net(X_train, demo_train)
    loss_train = criterion(y_pred_train, y_train.unsqueeze(1))
    
    # validation loss
    y_pred_val = rnn_net(X_val, demo_val)
    loss_val = criterion(y_pred_val, y_val.unsqueeze(1))
    if (best_val_loss > loss_val.cpu().detach().numpy()): 
        rnn_net_best_val.load_state_dict(rnn_net.state_dict())
        best_val_loss = loss_val.cpu().detach().numpy()
        print("Updated best val model")
    
    # optimize model 
    optimizer.zero_grad()
    loss_train.backward()
    optimizer.step()
    # print loss
    print(loss_train.cpu().detach().numpy())

Updated best val model
0.7086714
Updated best val model
0.6850196
Updated best val model
0.66668123
Updated best val model
0.6524806
Updated best val model
0.64458954
Updated best val model
0.63898456
Updated best val model
0.62226343
Updated best val model
0.598804
Updated best val model
0.57376754
Updated best val model
0.54349214
Updated best val model
0.5046217
Updated best val model
0.46201187
Updated best val model
0.42413777
Updated best val model
0.3956916
Updated best val model
0.37334546
Updated best val model
0.34941223
Updated best val model
0.32192218
Updated best val model
0.2939367
Updated best val model
0.26699108
Updated best val model
0.23906407
Updated best val model
0.2086796
Updated best val model
0.17884842
Updated best val model
0.15309085
Updated best val model
0.13174851
Updated best val model
0.11447651
Updated best val model
0.1009764
0.089303546
0.07746395
0.06710447
0.056340415
0.047220115
0.040181447
0.033529945
0.028623486
0.02381899
0.020163327
0.01741682
0.015245571
0.013035356
0.010485509
0.0080045145
0.0054618595
0.0033711821
0.0023170693
0.0017265497
0.0012887542
0.001052601
0.0009085549
0.00081264536
0.0007429464

In [136]:
y_eval = rnn_net(X_test, demo_test)
binary_acc(y_eval, y_test)

tensor(89.)

In [137]:
y_pred_binary = torch.round(y_eval.cpu().squeeze(1))

In [138]:
print(classification_report(y_test.cpu().detach().numpy(), y_pred_binary.detach().numpy()))

              precision    recall  f1-score   support

         0.0       0.73      0.92      0.81        36
         1.0       0.97      0.88      0.92       103

    accuracy                           0.89       139
   macro avg       0.85      0.90      0.87       139
weighted avg       0.91      0.89      0.90       139