In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
import matplotlib.pyplot as plt

# Load data into panda-frames and inspect

In [3]:
filenames = glob.glob("../data/*")

In [4]:
dataframes = []
for i, filename in enumerate(filenames): 
    print(i, filename.split("/")[-1])
    df = pd.read_csv(filename)
    dataframes.append(df)
    display(df)

0 data\assessments.csv

,code_module,code_presentation,id_assessment,assessment_type,date,weight
0,AAA,2013J,1752,TMA,19.0,10.0
1,AAA,2013J,1753,TMA,54.0,20.0
2,AAA,2013J,1754,TMA,117.0,20.0
3,AAA,2013J,1755,TMA,166.0,20.0
4,AAA,2013J,1756,TMA,215.0,30.0
...,...,...,...,...,...,...
201,GGG,2014J,37443,CMA,229.0,0.0
202,GGG,2014J,37435,TMA,61.0,0.0
203,GGG,2014J,37436,TMA,124.0,0.0
204,GGG,2014J,37437,TMA,173.0,0.0
205,GGG,2014J,37444,Exam,229.0,100.0

1 data\courses.csv

   code_module code_presentation  module_presentation_length
0          AAA             2013J                         268
1          AAA             2014J                         269
2          BBB             2013J                         268
3          BBB             2014J                         262
4          BBB             2013B                         240
5          BBB             2014B                         234
6          CCC             2014J                         269
7          CCC             2014B                         241
8          DDD             2013J                         261
9          DDD             2014J                         262
10         DDD             2013B                         240
11         DDD             2014B                         241
12         EEE             2013J                         268
13         EEE             2014J                         269
14         EEE             2014B                         241
15         FFF             2013J                         268
16         FFF             2014J                         269
17         FFF             2013B                         240
18         FFF             2014B                         241
19         GGG             2013J                         261
20         GGG             2014J                         269
21         GGG             2014B                         241

2 data\studentAssessment.csv

        id_assessment  id_student  date_submitted  is_banked  score
0                1752       11391              18          0   78.0
1                1752       28400              22          0   70.0
2                1752       31604              17          0   72.0
3                1752       32885              26          0   69.0
4                1752       38053              19          0   79.0
...               ...         ...             ...        ...    ...
173907          37443      527538             227          0   60.0
173908          37443      534672             229          0  100.0
173909          37443      546286             215          0   80.0
173910          37443      546724             230          0  100.0
173911          37443      558486             224          0   80.0

[173912 rows x 5 columns]

3 data\studentInfo.csv

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,2640965,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail
32589,GGG,2014J,2645731,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction
32590,GGG,2014J,2648187,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass
32591,GGG,2014J,2679821,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn
32592,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction

4 data\studentRegistration.csv

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN
...,...,...,...,...,...
32588,GGG,2014J,2640965,-4.0,NaN
32589,GGG,2014J,2645731,-23.0,NaN
32590,GGG,2014J,2648187,-129.0,NaN
32591,GGG,2014J,2679821,-49.0,101.0
32592,GGG,2014J,2684003,-28.0,NaN

5 data\studentVle.csv

         code_module code_presentation  id_student  id_site  date  sum_click
0                AAA             2013J       28400   546652   -10          4
1                AAA             2013J       28400   546652   -10          1
2                AAA             2013J       28400   546652   -10          1
3                AAA             2013J       28400   546614   -10         11
4                AAA             2013J       28400   546714   -10          1
...              ...               ...         ...      ...   ...        ...
10655275         GGG             2014J      675811   896943   269          3
10655276         GGG             2014J      675578   896943   269          1
10655277         GGG             2014J      654064   896943   269          3
10655278         GGG             2014J      654064   896939   269          1
10655279         GGG             2014J      654064   896939   269          1

[10655280 rows x 6 columns]

6 data\vle.csv

      id_site code_module code_presentation activity_type  week_from  week_to
0      546943         AAA             2013J      resource        NaN      NaN
1      546712         AAA             2013J     oucontent        NaN      NaN
2      546998         AAA             2013J      resource        NaN      NaN
3      546888         AAA             2013J           url        NaN      NaN
4      547035         AAA             2013J      resource        NaN      NaN
...       ...         ...               ...           ...        ...      ...
6359   897063         GGG             2014J      resource        NaN      NaN
6360   897109         GGG             2014J      resource        NaN      NaN
6361   896965         GGG             2014J     oucontent        NaN      NaN
6362   897060         GGG             2014J      resource        NaN      NaN
6363   897100         GGG             2014J      resource        NaN      NaN

[6364 rows x 6 columns]

In [5]:
studentAssesment_df = dataframes[2]
studentInfo_df = dataframes[3]
courses_df = dataframes[1]
assesments_df = dataframes[0]
studentVle_df = dataframes[5]
vle_df = dataframes[6]
studentRegistration_df = dataframes[4]

In [6]:
studentInfo_df['result_encoded'] = studentInfo_df['final_result'].map({'Pass':1, 'Distinction':1, 'Withdrawn':0, 'Fail':0})

## Merge pandas frame to get data-format

In [7]:
# first join studentVLE with vle to get full view of vle activity
merged_vle_df = pd.merge(studentVle_df, vle_df, on = ['id_site', 'code_module', 'code_presentation'], how='left')

In [8]:
merged_vle_df

,code_module,code_presentation,id_student,id_site,date,sum_click,activity_type,week_from,week_to
0,AAA,2013J,28400,546652,-10,4,forumng,NaN,NaN
1,AAA,2013J,28400,546652,-10,1,forumng,NaN,NaN
2,AAA,2013J,28400,546652,-10,1,forumng,NaN,NaN
3,AAA,2013J,28400,546614,-10,11,homepage,NaN,NaN
4,AAA,2013J,28400,546714,-10,1,oucontent,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10655275,GGG,2014J,675811,896943,269,3,homepage,NaN,NaN
10655276,GGG,2014J,675578,896943,269,1,homepage,NaN,NaN
10655277,GGG,2014J,654064,896943,269,3,homepage,NaN,NaN
10655278,GGG,2014J,654064,896939,269,1,forumng,NaN,NaN
10655279,GGG,2014J,654064,896939,269,1,forumng,NaN,NaN

## Check how the dataset is balanced

In [10]:
from collections import Counter

In [11]:
cnt_final_results = Counter(list(studentInfo_df['final_result']))

In [12]:
cnt_final_results

Counter({'Pass': 12361, 'Withdrawn': 10156, 'Fail': 7052, 'Distinction': 3024})

## Format data to training and test set

In [13]:
# day and week boundaries
min_startday = -25
max_endday = 270
weeks = int((max_endday-min_startday)/7)

# resource activities
activities = list(set(list(merged_vle_df['activity_type'])))

In [24]:
def get_click_matrix(student_id, course_vle_df): 
    oneStudentVle = course_vle_df.loc[student_id, :]
    click_matrix = np.zeros((len(activities), weeks))

    # insert clicks
    for i, vle_row in oneStudentVle.iterrows(): 
        # extract matrix indecies
        week_index = int((vle_row['date']-min_startday-1)/7)
        resource_index = activities.index(vle_row['activity_type'])
        # add clicks to right cell
        click_matrix[resource_index, week_index] += vle_row['sum_click']
        
    return click_matrix

def get_pass_fail(student_id, course_studentInfo_df): 
    result_encoded = int(course_studentInfo_df.loc[course_studentInfo_df['id_student']==student_id, 'result_encoded'])
    
    return result_encoded

In [25]:
# format the data
x, y = [], []
# iterate through all courses
for index, row in courses_df.iterrows(): 
    code_module = row['code_module']
    code_presentation = row['code_presentation']
    print(code_module, code_presentation)
    
    # extract only vle stats from the given course
    course_vle_df = merged_vle_df[(merged_vle_df.code_module==code_module)&(merged_vle_df.code_presentation==code_presentation)]

    # set index to id_student for easier extraction based on indivisual students later
    course_vle_df = course_vle_df.set_index('id_student')

    # extract student information for course module
    course_studentInfo_df = studentInfo_df.loc[(studentInfo_df.code_module==code_module)&(studentInfo_df.code_presentation==code_presentation), :]
    
    # format x and y data for model training 
    student_ids = list(set(course_vle_df.index))
    
    for student_id in student_ids: 
        try: 
            click_matrix = get_click_matrix(student_id, course_vle_df)
            result_encoded = get_pass_fail(student_id, course_studentInfo_df)
            x.append(click_matrix)
            y.append(result_encoded)
        except Exception as e: 
            pass
            #print(student_id)
            print(e)
# numpy format
X = np.array(x)
y = np.array(y)

AAA 2013J
AAA 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
BBB 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
BBB 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
BBB 2013B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
BBB 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
CCC 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
CCC 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
DDD 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
DDD 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
DDD 2013B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
DDD 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
EEE 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
EEE 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
EEE 2014B
'Series' object has no attribute 'iterrows'
FFF 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
FFF 2014J
'Series' object has no attribute 'iterrows'

'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
FFF 2013B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
FFF 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
GGG 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
GGG 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
GGG 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'

## Split data into training and test set

In [252]:
from torch import nn
import torch
import torch.optim as optim
import torch.nn.functional as F

In [343]:
# check if gpu is available
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

In [344]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [345]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 3)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state = 3)

In [346]:
# make datasets into torch tensors
X_train, y_train = torch.from_numpy(X_train).float(), torch.tensor(y_train).float()
X_test, y_test = torch.from_numpy(X_test).float(), torch.tensor(y_test).float()
X_val, y_val = torch.from_numpy(X_val).float(), torch.tensor(y_val).float()

In [388]:
X_train = X_train.to(device)
y_train = y_train.to(device)
X_test = X_test.to(device)
y_test = y_test.to(device)
X_val = X_val.to(device)
y_val = y_val.to(device)

## Create dataloader

In [390]:
from torch.utils.data import DataLoader, Dataset

In [393]:
class oversampdata(Dataset):
    def __init__(self, x_data, targets):
        self.data = x_data
        self.targets = targets

    def __len__(self):
        return len(self.data)
    
    def __getitem__(self, index):
        target = self.targets[index]
        data_val = self.data[index]
        
        return data_val, target

In [395]:
train_dataset = oversampdata(X_train, y_train)
valid_dataset = oversampdata(X_test, y_test)

In [403]:
train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
test_loader = DataLoader(valid_dataset, batch_size=64, shuffle=False)

## Make and train pytorch model

In [404]:
class RNN(nn.Module): 
    def __init__(self, input_size, hidden_size, output_size, n_layers=1): 
        super(RNN, self).__init__()
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.output_size = output_size
        self.n_layers = n_layers
        
        #self.encoder = nn.Embedding(input_size, hidden_size)
        self.lstm = nn.LSTM(input_size, hidden_size, n_layers, bidirectional = True)
        self.fc1 = nn.Linear(hidden_size*2*20, 16)
        self.fc2 = nn.Linear(16, output_size)
        
    def forward(self, inp): 
        #e = self.encoder(inp)
        output, hidden = self.lstm(inp)
        #print(output.shape)
        #print(output.view(-1, output.size(0)).shape)
        
        #x = self.fc1(output[:, -1, :])
        x = self.fc1(output.view( output.size(0), -1) )
        x = F.relu(x)
        x = self.fc2(x)
        x = torch.sigmoid(x)
        #x = torch.nn.Softmax(dim=1)(x)
        
        return x

In [405]:
# define model instance
rnn_net = RNN(X_train[0].shape[1], 8, 1, n_layers = 1)
rnn_net_best_val = RNN(X_train[0].shape[1], 8, 1, n_layers = 1)

# set loss function, optimizer and criterion
criterion = nn.BCELoss()
optimizer = optim.Adam(rnn_net.parameters(), lr=0.01)
loss_fn = nn.MSELoss()

In [406]:
# set training to gpu if exists
rnn_net.to(device)
rnn_net_best_val.to(device)

# training parameters
n_steps = 30
best_val_loss = 100

In [407]:
# train model
for i in range(n_steps):
    for i, data in enumerate(train_loader, 0):        
        inputs, labels = data        
        optimizer.zero_grad()
        y_pred_train = rnn_net(inputs)
        loss_train = criterion(y_pred_train,labels.unsqueeze(1))        
        loss_train.backward()        
        optimizer.step()
        
    # validation loss
    y_pred_val = rnn_net(X_val)
    loss_val = criterion(y_pred_val, y_val.unsqueeze(1))
    if (best_val_loss > loss_val.cpu().detach().numpy()): 
        rnn_net_best_val.load_state_dict(rnn_net.state_dict())
        best_val_loss = loss_val.cpu().detach().numpy()
        print("Updated best val model")

    # print loss
    print(loss_val.cpu().detach().numpy())

Updated best val model
0.24372521
Updated best val model
0.23802595
Updated best val model
0.22863488
Updated best val model
0.22307913
Updated best val model
0.22188076
0.22929832
0.22507164
0.23604006
0.23805904
0.23482013
0.23410918
0.2375583
0.22828983
0.24751602
0.2457706
0.2606804
0.2607686
0.25563508
0.2621015
0.2840933
0.2684199
0.30576804
0.3093789
0.3341566
0.35475925
0.35675117

KeyboardInterrupt:

In [408]:
def binary_acc(y_pred, y_test):
    y_pred = y_pred.cpu()
    y_test = y_test.cpu()
    y_pred_tag = torch.round(y_pred.squeeze(1))

    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    #acc = torch.round(acc * 100)
    
    return acc

In [409]:
y_eval = rnn_net_best_val(X_test)
binary_acc(y_eval, y_test)

tensor(0.9183)

In [410]:
y_pred_binary = torch.round(y_eval.cpu().squeeze(1))

In [411]:
print(classification_report(y_test.cpu().detach().numpy(), y_pred_binary.detach().numpy()))

              precision    recall  f1-score   support

         0.0       0.97      0.85      0.91      2757
         1.0       0.88      0.98      0.93      3042

    accuracy                           0.92      5799
   macro avg       0.93      0.92      0.92      5799
weighted avg       0.92      0.92      0.92      5799

In [412]:
# remove models from gpu
rnn_net.to('cpu')
rnn_net_best_val.to('cpu')

RNN(
  (lstm): LSTM(42, 8, bidirectional=True)
  (fc1): Linear(in_features=320, out_features=16, bias=True)
  (fc2): Linear(in_features=16, out_features=1, bias=True)
)

## Dense model

In [413]:
class DenseNN(nn.Module): 
    def __init__(self, input_size, output_size): 
        super(DenseNN, self).__init__()
        self.fc1 = nn.Linear(input_size, 32)
        self.fc2 = nn.Linear(32, 16)
        self.fc3 = nn.Linear(16, output_size)
        
    def forward(self, inp): 
        # propogate through densely connected linear layers
        x = inp.view(inp.shape[0],-1)
        x = self.fc1(x)
        x = F.relu(x)
        x = self.fc2(x)
        x = F.relu(x)
        x = self.fc3(x)
        x = torch.sigmoid(x)
        
        return x

In [414]:
# define model instance
input_size = X_train.shape[1]*X_train.shape[2]
dense_net = DenseNN(input_size, 1)
dense_net_best_val = DenseNN(input_size, 1)

# set loss function, optimizer and criterion
criterion = nn.BCELoss()
optimizer = optim.Adam(dense_net.parameters(), lr=0.01)
loss_fn = nn.MSELoss()

In [415]:
# set training to gpu if exists
dense_net.to(device)
dense_net_best_val.to(device)

# training parameters
n_steps = 20
best_val_loss = 100

In [416]:
# train model
for i in range(n_steps):
    for i, data in enumerate(train_loader, 0):        
        inputs, labels = data        
        optimizer.zero_grad()
        y_pred_train = dense_net(inputs)
        loss_train = criterion(y_pred_train,labels.unsqueeze(1))        
        loss_train.backward()        
        optimizer.step()
        
    # validation loss
    y_pred_val = dense_net(X_val)
    loss_val = criterion(y_pred_val, y_val.unsqueeze(1))
    if (best_val_loss > loss_val.cpu().detach().numpy()): 
        dense_net_best_val.load_state_dict(dense_net.state_dict())
        best_val_loss = loss_val.cpu().detach().numpy()
        print("Updated best val model")

    # print loss
    print(loss_val.cpu().detach().numpy())

Updated best val model
0.28329557
Updated best val model
0.2759368
0.31531182
Updated best val model
0.26097012
0.2797037
0.2770144
0.33043948
0.3240458
0.33537266
0.3636481
0.30932292
0.31064543
0.48944712
0.3674725
0.4137759
0.32472023
0.50574076
0.31583065
0.5287569
1.0193719

In [417]:
y_eval = dense_net_best_val(X_test)
binary_acc(y_eval, y_test)

tensor(0.9053)

In [418]:
y_pred_binary = torch.round(y_eval.cpu().squeeze(1))

In [419]:
print(classification_report(y_test.cpu().detach().numpy(), y_pred_binary.detach().numpy()))

              precision    recall  f1-score   support

         0.0       0.98      0.82      0.89      2757
         1.0       0.86      0.98      0.92      3042

    accuracy                           0.91      5799
   macro avg       0.92      0.90      0.90      5799
weighted avg       0.91      0.91      0.90      5799

In [365]:
# remove models from gpu
dense_net.to('cpu')
dense_net_best_val.to('cpu')

DenseNN(
  (fc1): Linear(in_features=840, out_features=32, bias=True)
  (fc2): Linear(in_features=32, out_features=16, bias=True)
  (fc3): Linear(in_features=16, out_features=1, bias=True)
)

## CNN model

In [420]:
class CNN(nn.Module):    
    def __init__(self):        
        super(CNN,self).__init__()      
        self.conv1 = nn.Conv2d(1,6,kernel_size = 5)        
        self.pool = nn.MaxPool2d(2,2)        
        self.conv2 = nn.Conv2d(6,16,5)        
        self.fc1 = nn.Linear(224,120)        
        self.fc2 = nn.Linear(120,84)        
        self.fc3 = nn.Linear(84,1)    
        
    def forward(self,x):   
        x = x.view(x.shape[0], 1, x.shape[1], x.shape[2])
        x = self.pool(F.relu(self.conv1(x)))        
        x = self.pool(F.relu(self.conv2(x)))        
        x = x.view(x.size(0), -1)        
        x = F.relu(self.fc1(x))        
        x = F.relu(self.fc2(x))        
        x = F.sigmoid(self.fc3(x))        

        return x

In [421]:
# define model instance
cnn_net = CNN()
cnn_net_best_val = CNN()

# set loss function, optimizer and criterion
#criterion = nn.CrossEntropyLoss()
#criterion = nn.BCEWithLogitsLoss()
criterion = nn.BCELoss()
optimizer = optim.Adam(cnn_net.parameters(), lr=0.01)
loss_fn = nn.MSELoss()

In [422]:
# set training to gpu if exists
cnn_net.to(device)
cnn_net_best_val.to(device)


# training parameters
n_steps = 50
best_val_loss = 100

In [423]:
# train model
for i in range(n_steps):
    for i, data in enumerate(train_loader, 0):        
        inputs, labels = data        
        optimizer.zero_grad()
        y_pred_train = cnn_net(inputs)
        loss_train = criterion(y_pred_train,labels.unsqueeze(1))        
        loss_train.backward()        
        optimizer.step()
        
    # validation loss
    y_pred_val = cnn_net(X_val)
    loss_val = criterion(y_pred_val, y_val.unsqueeze(1))
    if (best_val_loss > loss_val.cpu().detach().numpy()): 
        cnn_net_best_val.load_state_dict(cnn_net.state_dict())
        best_val_loss = loss_val.cpu().detach().numpy()
        print("Updated best val model")

    # print loss
    print(loss_val.cpu().detach().numpy())

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\torch\nn\functional.py:1639: UserWarning: nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.
  warnings.warn("nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.")

Updated best val model
0.26967123
Updated best val model
0.24285479
0.26044765
0.25451207
0.24781209
Updated best val model
0.23796669
Updated best val model
0.23581173
0.29350424
0.24032283
0.25744244
0.23950385
Updated best val model
0.2333272
Updated best val model
0.22996795
0.23077162
0.24483174
Updated best val model
0.22160944
0.25765374
0.2287533
0.25555983
0.2342221
0.22631699
0.24642718
0.2628059
0.24554983
0.24344662
0.27694887
0.24417925
0.24968393
0.24336158
0.23839782
0.23097655
0.23880781
0.2429587
0.24091896
0.23714732
0.23361619
0.24607489
0.23519756
0.23013224
0.24314412
0.26545852
0.28034174
0.24527788
0.23916137
0.24569428
0.2452362
0.2602192
0.24935968
0.23714726
0.26094335

In [424]:
y_train.shape, X_train.shape

(torch.Size([20874]), torch.Size([20874, 20, 42]))

In [425]:
y_eval = cnn_net_best_val(X_test)
binary_acc(y_eval, y_test)

tensor(0.9138)

In [426]:
y_pred_binary = torch.round(y_eval.cpu().squeeze(1))

In [427]:
print(classification_report(y_test.cpu().detach().numpy(), y_pred_binary.detach().numpy()))

              precision    recall  f1-score   support

         0.0       0.96      0.85      0.90      2757
         1.0       0.88      0.97      0.92      3042

    accuracy                           0.91      5799
   macro avg       0.92      0.91      0.91      5799
weighted avg       0.92      0.91      0.91      5799